@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: rgb(249 250 251 / 1); /* gray-50 */
  color: rgb(15 23 42 / 1); /* slate-900 */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

